body{
  background-color: #a0bae8;
}
.app-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #7297d5;
    border-radius: 25px;
}
.qr-code-img{
    border-radius: 0%;
    border: 5px solid rgb(119, 225, 220);
    box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.5);
}
.input-label{
    display: block;
    margin-bottom: 8px;
    color: aquamarine;
    font-size: 1.2em;
    font-weight: 500;

}
input{
    display: block;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #41e5da;
    border-radius: 5px;
    width: 100%;
}

.btnQ{
    padding: 15px 20px;
    background-color: #41e5da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    transition: background-color 0.3s;
    margin-left: 15px;
}

.Generate{
    background-color: #41e5da;
}
 .Generate:hover{
    background-color: #2db7b0;
 }
 .Generate:focus,
 .Download:focus{
    background-color: #b7502d;
 }
.Generate:disabled{
    background-color: #d31212;
    cursor: not-allowed;
}
.Download{
    background-color: #41e57a;
}
.Download:hover{
    background-color: #2db75d;
}
.app-container h2{
    margin-bottom: 20px;
    color: #0ae4bc;

}
.shortdiv{
    display: flex;
    width: 100%;
    justify-content: end;
    
   
}
.short{
    background-color: #7297d5;
    margin-right: 5%;
    margin-bottom: 15PX;
}
.eurl{
    width: 500px;
}

.linkshort{
    font-size:medium;
    cursor: pointer;
}
.linkshort:hover{
    
    background-color: #2db7b0;
    color: aliceblue;
}